.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 90%;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  color: rgb(8, 8, 8);
  letter-spacing: 8px;
  width: 600px;
  border: 1px solid #ccc;
}
