.hide-completed {
  margin-top: 15px;
  text-align: center;
  border: 1px solid #ccc;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}
.list-todo {
  list-style: none;
  padding: 10px;
  font-weight: bold;

  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
